*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
  font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: justify;
  background: #f0edd8;
}

.subtitulo{

font-size: 40px;
padding-bottom: 15px;
margin-top: 40px;
margin-left: 45px;
color: rgb( 8, 18, 30);
display:flex;
	
}

.conceito{
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: left;

	
}
.conceito img{
  border-radius: 15px;

  
}

.text-conceito{
  width: 500px;
  padding-right: 25px;
}


.Claro-Escuro{
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

a{
   color: lavender;
   text-decoration: none;
   transition: color 0.3s ease;

}
header{
   text-align: center;
   background: #f0e1d8;

}
nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 10vh;
  padding-right: 5%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.flex-container .lampada-img {
  display: flex;
  align-items: center;

}

.Claro-Escuro {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

a:hover {
  color: #c49ca4;

}

.nav-list li {
   margin-left: 32px;

}
