*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
  font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;	
}

.subtitulo{

font-size: 40px;
padding-bottom: 15px;
margin-top: 40px;
margin-left: 45px;
	
}

.conceito{

  width: 500px ;
  margin-top: 40px;
  margin-left: 45px;
	
}
