*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
  font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.conceito{

  width: 200px ;
	
}
