*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li{
 	width: 138px;
	
}
.colum1 {
	padding-bottom:15px;
	padding-top:25px;
}
.colum2 {
	padding-top:10px;
	background: #f0e1d8;
	padding-bottom:25px;
}

.rodape{
	padding:30px;
	background: #f0e1d8;
	font-weight: bold;
	
}
.nome{
	justify-content: right;
	
}

body{
  font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: justify;
  background: #f0edd8;
  color: #08121e;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.subtitulo{
font-size: 40px;
margin-top: 40px;
margin-left: 45px;
display:flex;
	
}.subtitulo2{
font-size: 40px;
margin-top: 40px;
margin-right: 25px;
display:flex;
justify-content: right;
	
}
.conceito{
  padding-botton: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: left;
	
}
.conceito2{
  padding-botton: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: right;
	
}

.conceito img{
  border-radius: 15px;

  
}
.conceito2 img{
  border-radius: 15px;
	
}


.text-conceito{
  width: 500px;
  padding-right: 25px;
  padding-left: 25px;
}


a{
   color: lavender;
   text-decoration: none;
   transition: color 0.3s ease;

}
header{
   text-align: center;
   background: #f0e1d8;
   transition: background-color 0.3s ease, color 0.3s ease;

}
nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 10vh;
  padding-right: 5%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.flex-container .lampada-img {
  display: flex;
  align-items: center;

}

.dia-noite-img {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

a:hover {
  color: #c49ca4;

}

.nav-list li {
   margin-left: 32px;

}

/*TEMA ESCURO*/

body.dark-theme {
  background-color: #142130;
  color: lavenderblush;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-theme .colum2{
background: #08121e;
transition: background-color 0.3s ease, color 0.3s ease;
	
}

header.dark-theme {
background: #08121e;
transition: background-color 0.3s ease, color 0.3s ease;
}
.rodape.dark-theme{
background: #08121e;
transition: background-color 0.3s ease, color 0.3s ease;
	
}
